@font-face {
    font-family:AverageSans;
    src: url(../font/AverageSans-Regular.ttf);
}
@font-face {
    font-family:Carme;
    src: url(../font/Carme-Regular.ttf);
} 
@font-face {
    font-family: Prompt;
    src:url(./assets/font/Prompt-Bold.ttf);
        
}
body{
    padding: 0;
    margin: 0;
    background-color:yellowgreen;
}
*{
    box-sizing: border-box;
}
a{
    font-family: "Prompt";
}
h1{
    font-size: 3em;
    color: white;
    font-family: "AverageSans";
}
h2{
    font-size: 2.375em;
    font-family: "AverageSans";
    color:black;
}
h3{
    color:black;
    font-family: "AverageSans";
    font-size: 1em;
}
/*-***********************************Barre de Navigation version page Actualité *******************-*/
#boxNav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 10px 30px;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
}
#boxNav> nav >a{
    margin-left: 25px;
    text-decoration: none;
    color: black; 
    font-size: 1em ;
    font-weight: 100;
}
#boxNav>a:nth-child(1){
    margin-left: 0px;
}
/*-*******************************barre reseau sociaux page actualité pc************************-*/
#boxNav>.reseauNav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.reseauNav>a{
    font-size: 20px;
    color:#291D11;
    margin-left: 30px;
    text-decoration: none;
}
.burger{
    display: none;
}
/*-*********************partie nav barre page actualité pc**************************************-*/
.none{
    display: none !important;
}
#menuMobile{
    width: 0px;
    background: #fff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.showContent > *{
    opacity: 1 !important;
}
#menuMobile > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding: 20px 0px;
    border-bottom: 2px solid #15100B;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
#menuMobile > #reseaux{
    transition: all 0.2s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuMobile > #reseaux > a{
    color: #996533;
    font-size: 30px;
    margin: 0px 10px;
    text-decoration: none;
}
#closeArea{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
#closeArea > i{
    font-size: 30px;
    color: #996533;
}
#menuMobile > ul > li{
  list-style-type: none;
}
#menuMobile > ul > li > a{
  color: #15100B;
  text-decoration: none;
  font-size: 20px;
}
.openMobileMenu{
    width: 100% !important;
}
/*-************************************section page Les actualité pc***************************************-*/
header{
    width: 100%;
    background-color: #291D11;
    display: flex;
    padding: 0px 50px;
}
#actuality{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}
.boxActu>img{
    width: 400px;
    height: auto;
}
.size{
    font-size: 1.1em; 
    font-family: 'Carme';
}
.article1{
    text-align: justify;
}
.para1{
    font-weight: 900;
    padding-top: 45px;
    font-size: 1.3em;
}
.para2{
    padding-top: 20px;
}
.para5{
    color:#996533;
    font-weight: 900;
    padding: 20px 0px 30px 0px;
}
pre{
    color:#996533;
    font-weight: 700;
}
.para6{
    padding-top: 20px;
     color: #996533;
     font-weight: 700;
}
span{
    color:#996533;
}
.para9{
    padding-top: 50px;
}
.para10{
    padding-top: 50px;
}
.boxLire{
    display: flex;
}
.ligne{
    position: relative;
    border: 3px solid #E49449;
    height: 40px;
    margin: 55px 0px 0px 0px;
}
.lire{
    font-family: "AverageSans";
    font-weight: 700;
    font-size: 1.5em;
    margin: 60px 0px 0px 20px;
}
.article2{
    display: flex;
    font-family: 'Carme';
    margin-top: 20px;
}
.article2>img{
    width: 400px;
    height: auto;
    margin-bottom: 80px;
}
.boxNews{
    display: flex;
    flex-direction: column;
}
.boxNews>p{
    padding: 0px 0px 0px 25px;
    font-size: 2em ;
    font-weight: 800;
    font-family: 'AverageSans';
}
.boxNews>h3{
    width: 45%;
    font-family: "Carme";
    font-size: 1.3em ;
    padding-left: 25px;
    text-align: justify;
    margin-top: 0;
}
.boxNews>h4{
    width: 45%;
    text-align: justify;
    font-family: 'Carme';
    font-weight: 100;
    font-size: 1em ;
    padding-left: 25px;
}
/*-*******************************Footer page actualité pc************************************-*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
/*Nav footer*/
footer>.navFooter{
    width: 100%;
    height: 60px;
    background-color: #291D11;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
footer>.navFooter>a{
    margin-left: 25px;
    text-decoration: none;
    color: white;
  
}
footer>.navFooter>a:nth-child(1){
    margin-left: 0px;
}
/*partie TechNews-contact*/
#boxtechNews{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
#boxtechNews>.techTitle>h2{
    color: white;
    margin-top: 0px;
}
.contactTech{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
} 
.contactTech>p{
    width: 132%;
    color: white;
}
.contactTech>a{
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding-left: 3px;
    font-family: 'AverageSans';
     margin: 80px 0px 0px 0px;
}
.contactTech>a>i{
    color: #E49449;
}
/*partie Suivez-nous*/
.suivezFooter{
    width: 60%;
    height: 37vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.suivezFooter>h3{
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}  
.politique{
    color: white;
    text-decoration: none;
    font-family: 'AverageSans';
    margin-top: 20px;
}
.reseauFooter{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    padding: 20px 40px;
}
.reseauFooter>.roundFooter{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid #E49449;
    border-radius: 50%;
    padding-left: 10px;   
}
.roundFooter{
    display: flex;
    justify-content: center;
}
.roundFooter>a{
    color: #E49449;
    text-decoration: none;
    font-size: 25px;
    margin-top: 11px;
    margin-left: -12px;
}
.ligneFooter{
    border: 1px solid white;
    height: 22vh;
    margin-top: 10vh;
    margin-left: 22vw;
    opacity: 45%;
}
/*partie base footer mention*/
.mentionFooter{
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.mentionFooter>h4{
    /* padding-left: 30vw; */
    color:white;
    font-family: 'AverageSans';
    font-weight: 300;
}
.mentionFooter>a{
    /* padding-left: 27.5vw; */
    color: white;
    text-decoration: none;
    font-family: 'AverageSans';
    font-weight: 300;
}
#footerContent{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.boxDesigne{
    display: flex;
    justify-content: space-around;
}
.boxDesigne>p>i{
    color: #E49449;
}
.boxDesigne>p{
    color:white;
    font-family: 'AverageSans';
    font-weight: 300;
    /* margin-left: 10px; */
}   
.boxDesigne>img{
    width: 1vw;
    height: 2vh;
    margin: 17px 0px 0px 10px;
}
/*-***************************************Media query  chris*************************************-*/
@media screen and (max-width: 1024px){
    /*-*****************************************partie Navigateur page actualité tablette 1024***************************-*/
.nav{
    display: none;
}
.reseauNav>a{
    display: none;
}
.burger{
    display: block;
}
.fa-3x {
    font-size: 2.5em;
}
.fa-bars{
    color:#996533;
}
/*-************************************partie section page actualité tablette 1024************************************-*/
.size{
    font-size: 1em;
}
.article2>img{
    width: 400px;
    height: auto;
}
.boxNews>p{
    padding: 0px 0px 0px 25px;
    font-size: 2em ;
}
.boxNews>h3{
    width: 97%;
    font-size: 1.1em ;
    padding-left: 25px;
    text-align: justify;
    margin-top: 0;
}
.boxNews>h4{
    width: 97%;
    font-size: 1em;
    margin-bottom: 100px;
}
/*-**************************************partie Footer page actualité tablette 1024******************************-*/
.techTitle>div>p>br{
    display: none;
}
.contactTech>p {
    width: 141%;
    font-size: 1em;
}
.contactTech>a {
    margin: 0px 0px 0px 0px;
}
.suivezFooter{
    width: 100%;
}
.suivezFooter>h3 {
    font-size: 1.3em;
    color: white;
} 
.reseauFooter{
    width: 325px;
}
.navFooter>a{
    display: none;
}
}
@media screen and (max-width: 500px){
/*-*****************************************partie Navigateur mobile 500 ***************************-*/
header{
    padding: 0px 10px ;
}
header > h1{
    font-size: 2em;
    padding: 0px 10px ;
    
}
/*-*******************************************partie section page actualité mobile 500***************-*/
#actuality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    width: 100%;
    
}
.boxActu{
    font-size: 1em;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.boxActu>h2{
    font-size: 1.6em;
}
.boxActu>img{
    width: 250px;
    height: auto;
}
.article1{
   display: flex;
   align-items: center;
   flex-direction: column;
}
.para1, .para2, .para4, .para5, .para6, .para7, .para9, .para10{
    font-size: 1em ;
    width: 80%;
    padding-left: 0px;
}
.size{
    font-size: 0.8em;
    padding: 0px 10px 0px 0px;
}
.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article2 > img {
    width: 325px;
    height: auto;
}
.lire{
    font-size: 1.2em;
}
.boxNews{
    height: 180px;
}
.boxNews> p{
    margin-top: -40px;
    font-size: 1.6em;
}
.boxNews> h3{
        font-size: 1.1em;
        width: 95%;
}
.boxNews> h4{
    font-size: 0.8em;
    width: 95%;
}
/*-****************************************partie Footer mobile 500************************************-*/
footer>.navFooter{
    display: none;
}
#boxtechNews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.reseauFooter>.roundFooter{
    margin: 10px 0px;
}
.contactTech>a{
    text-align: center;
}
.mentionFooter{
    flex-direction: column;
}
#boxtechNews>.techTitle>h2{
    text-align: center;
}
.contactTech>p{
    text-align: center;
}
.reseauFooter{
    width: 200px;
    flex-wrap: wrap;
}
.ligneFooter{
    display: none;
}
.suivezFooter{
    width: 100%;
}
.contactTech>p{
    width: 100%;
}

}